<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>275006547384-m3tt1a5paosoc5cnnjdifd2gq44m187m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275006547384-m3tt1a5paosoc5cnnjdifd2gq44m187m</string>
	<key>API_KEY</key>
	<string>AIzaSyDjUKzXbV3sqoFNrPAtlw8q8N1iLoeVUV8</string>
	<key>GCM_SENDER_ID</key>
	<string>275006547384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.LocationProject</string>
	<key>PROJECT_ID</key>
	<string>locationapp-85fdc</string>
	<key>STORAGE_BUCKET</key>
	<string>locationapp-85fdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:275006547384:ios:074b554a7adb3379</string>
	<key>DATABASE_URL</key>
	<string>https://locationapp-85fdc.firebaseio.com</string>
</dict>
</plist>